* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}
/* * {
	display: flex;
} */
/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */
@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Bold.woff2') format('woff2'), 
	url('../fonts/Oswald-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Bold.woff2') format('woff2'), 
	url('../fonts/Oswald-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), 
	url('../fonts/OpenSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
:root {
    /* Basic fonts */
	--font-family: 'Oswald', sans-serif;
    /* Basic colors */
    --white:#ffffff;
    --black:#000000;
    /* Project colors */
    --accent:#F7654A;
    --gray:#999999;
    --light-gray:#C4C4C4;
    --light-white:#F7F7F7;
    --dark:#404149;
}
body {
	font-family: var(--font-family);
	font-weight: 500;
}
/*АДАПТИВНОСТЬ ДЛЯ ИЗОБРАЖЕНИЙ */
img {
	max-width: 100%;
}
/* ОБНУЛЯТОРЫ ДЛЯ СПИСКОВ */
.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/* ОБНУЛЯТОРЫ ДЛЯ КНОПОК */
.btn-reset {
	padding: 0;
	border: none;
	font-family: var(--font-family);
	background-color: transparent;
	cursor: pointer;
}
/* ОГРАНИЧИВАЕМ КОНТЕНТ */
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

/* --------ШАПКА САЙТА -------- */
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
    /* background: var(--gray); */
    padding: 20px 0;
}
.header-container {
	height: 60px; /*выравние бургера*/
	align-items: flex-end; /*выравние бургера*/
	display: flex;
	justify-content: space-between;
}

/* --------МЕНЮ БУРГЕР -------- */
.burger {
	--offset-horizontal: 21px;
	--offset-vertical: 16px;
	position: relative;
	padding: var(--offset-vertical) var(--offset);
	width: 50px;
	height: 50px;
	background-color: var(--accent);
}
.burger-line {
	position: absolute;
	left: 50%;
	top: var(--offset-vertical);
	display: inline-block;
	/* width: calc(100% - (var(--offset-horizontal) * 2)); */
	width: 20px;
	height: 3px;
	background-color: var(--white);
	transform: translateX(-50%);
    border-radius: 1px;
}
.burger-line:nth-child(2) {
	top: calc(var(--offset-vertical) + 7px);
}
.burger-line:nth-child(3) {
	top: calc(var(--offset-vertical) + 14px);
}

/* -------- ОСНОВНОЙ БЛОК -------- */
.hero {
	min-height: 740px;
	background-image: url("../img/hero-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero-content {
    padding-top: 192px;
    margin: 0 auto;
    max-width: 740px;
}
.hero-title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: calc(95 / 64*100%);
	letter-spacing: -0.6px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}
.hero-subtitle {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px; /*---В ПРОЕКТЕ 18px!!!---*/
    line-height: calc(27 / 16*100%);
    text-transform: uppercase;
    color: var(--white);
    padding-top: 20px;
}

/* --------БЛОК 26 ЛЕТ-------- */
.years-container {
	min-height: 300px;
	background-color: var(--white);
	margin: -132px 0 0 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.years-sub-container {
	width: 850px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.years-item {
	width: 190px;
	min-height: 186px;
	background-color: var(--white);	
}
.years-item > span {
	display: block;
}
.years-item-header {
	margin: -16px 0 0 0;
	font-style: normal;
	font-size: 72px;
	line-height: calc(107 / 72 * 100%);
	text-align: center;
	text-transform: uppercase;
	color: var(--accent);
}
.years-item-title {
	margin: 4px 0 0 0;
	font-style: normal;
	font-size: 36px;
	line-height: calc(53 / 36 * 100%);
	text-align: center;
	text-transform: uppercase;
	color: var(--black);
}
.years-item-subtitle {
	margin: 4px 0 0 0;
	font-style: normal;
	font-size: 16px;
	line-height: calc(27 / 16 * 100%);
	text-align: center;
	text-transform: uppercase;
	color: var(--gray);
}
@media (max-width: 790px) {
	.years-container {
		min-height: 300px;
		background-color: var(--white);
		margin: -200px 0 0 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.years-item {
		width: 190px;
		min-height: 186px;
		flex: 0 1 50%;	
	}
	.years-item-header {
		margin: 0 0 0 0;
	}
}

/* --------БЛОК НАШИ КРУПНЕЙШИЕ ПРОЕКТЫ-------- */
.projects-body {
	display: flex;
	margin: 0px -15px;
}
.projects-item {
	padding: 0 15px;
	flex: 0 1 33.333%;
	height: 100%;
	margin: 46px 0 0 0;
}
.projects-item-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.projects-item-line {
	margin-top: 45px;
	display: block;
	max-width: 55px;
	height: 6px;
	background-color: var(--accent);
}
.projects-title {
	font-style: normal;
	font-size: 36px;
	line-height: calc(53 / 36 * 100%);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1px;
	color: var(--dark);
	margin: 15px 0 0 0;
	padding: 70px 0 0 0;
}
.projects-item-title {
	font-style: normal;
	font-size: 24px;
	line-height: calc(36 / 24 * 100%);
	color: #404149;
	margin: 13px 0 0 0;
	letter-spacing: -0.8px;

}
.projects-item-descr {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(22 / 16 * 100%);
	color: var(--gray);
}
@media (max-width: 776px) {
	.projects-body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
	}
	.projects-item {
		flex: 0 1 100%;
	}
	.projects-item-img {
		margin: 0 auto;
		display: block;
	}
	.projects-item-line {
		margin: 0 auto;
		margin-top: 30px;
	}
	.projects-item-title {
		text-align: center;
	}
}
/* --------БЛОК САМЫЕ УМНЫЕ ПРОЕКТЫ-------- */
.smart-projects {
	margin: 105px 0 0 0;
	background-color: var(--accent);
}
.smart-projects-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 181px;
	padding: 0;
	margin: 0;
}
.smart-projects-title {
	display: block;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: calc(71 / 48 * 100%);
	letter-spacing: 0.02em;
	color: var(--white);
	margin: -8px 0 0 0;
}
.smart-projects-sub-title {
	display: block;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(36 / 24 * 100%);
	letter-spacing: 0.02em;
	color: var(--white);
	padding: 6px 0 0 0;
}

/* --------БЛОК САМЫЕ УМНЫЕ ПРОЕКТЫ: КНОПКА-------- */
.button {
	display: flex;
	max-width: 175px;
	height: 100%;
    background-color: var(--white);
	border: none;
	outline: none;
	overflow: hidden;

	font-style: normal;
	font-size: 14px;
	line-height: calc(21 / 14 * 100%);
	letter-spacing: 0.02em;
	color: #000000;
	text-transform: uppercase;
    outline: none;

	padding: 14px 30px;
	margin: 15px 0 0 0;
	cursor: pointer;
	box-sizing: content-box;
}
.button:hover {
	background: var(--black);
}
.button:active {
	background: #006e58;
}
.button:hover .button__text,
.button:hover .button__icon {
	display: inline-flex;
	align-items: center;
	color: var(--white);
	background: var(--black);
}
.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	color: #000000;
}
.button__text {
	padding-left: 12px;
	word-wrap: normal;
}
.button__icon {
	align-items: center;
	font-size: 1.5em;
}
@media (max-width:800px) {
	.smart-projects {
		margin: 50px 0 0 0;
		background-color: var(--accent);
	}
	.smart-projects-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
	}
	.smart-projects-descr {
		flex: 0 1 100%;
	}
	.smart-projects-title {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		font-size: 42px;
		line-height: calc(71 / 42 * 100%);
	}
	.smart-projects-sub-title {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		font-size: 21px;
		line-height: calc(36 / 21 * 100%);
	}
	.button {
		margin: 0px 0 0 0;
	}
}
@media (max-width:536px) {
	.smart-projects-title {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		font-size: 28px;
		line-height: calc(54 / 32 * 100%);
	}
	.smart-projects-sub-title {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		font-size: 16px;
		line-height: calc(36 / 20 * 100%);
	}
	.button {
		margin: -20px 0 0 0;
	}
}
/* --------БЛОК ЧЕМ МЫ ЗАНИМАЕМСЯ-------- */
.activities-container {
	margin: 0 auto;
	margin: 152px 0 0 0;
}
.activities-title {
	font-style: normal;
	font-size: 36px;
	line-height: calc(53 / 36 * 100%);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	color: var(--dark);
}
.activities-body {
	margin: 54px 0 0 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	justify-content: center;
	align-items: center;
}
.activities-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
	max-width: 350px;
	min-height: 250px;
}
.activities-item-img {
	display: block;
	text-align:center;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* margin: -16px 0 0 0; */
}
.activities-item-descr {
	display: block;
	font-style: normal;
	font-size: 21px;
	line-height: calc(31 / 21 * 100%);
	text-align: center;
	letter-spacing: -0.01em;
	color: var(--black);
	margin: 0px 0px 0 0;
}
@media (max-width: 776px) {
	.activities-container {
		margin: 0 auto;
		margin: 70px 0 0 0;
	}
	.activities-title {
		margin: 0;
	}
	.activities-body {
		margin: 0 0 0 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		justify-content: center;
		align-items: center;
	}
}
/* --------ФОТОГРАФИИ НАШИХ ПРОЕКТОВ-------- */
.projects-container {
	margin: 150px 0 0 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;	
}
.projects-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}
@media (max-width: 800px) {
	.projects-container {
		margin: 50px 0 0 0;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-template-rows: repeat(2, 1fr);
	}
}

/* --------ОТВЕТЫ НА ВОПРОСЫ-------- */
.QA {
	margin: 150px 0 0 0;
}
.QA-title {
	text-align: center;
	font-style: normal;
	font-size: 36px;
	line-height: calc(53 / 36 * 100%);
	text-align: center;
	text-transform: uppercase;
	color: var(--black);
	letter-spacing: -0.02em;

	margin: 0;
	padding: 0;
}
.question-list {
	margin: 30px 0 0 0;
}
.QA-list {
	padding: 0 0 40px 0;
}
.QA-item {
	padding: 19px 0 0 30px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: calc(36 / 24 * 100%);
	color: var(--accent);
	position: relative;
	letter-spacing: -0.02em;
}
.QA-item.dropdown {
	padding-top: 34px;
}
.QA-item-hidden {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(22 / 16 * 100%);
	color: var(--gray);
	max-width: 730px;
	margin: 24px 0 -24px 0;
}
.QA-last-item {
	padding: 33px 0 0 30px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: calc(36 / 24 * 100%);
	color: var(--accent);
	position: relative;
	letter-spacing: -0.02em;
}
li.QA-item::before {
	content: url("../img/arrow-right.svg");
	position: absolute;
	top: 15px;
	left: 3px;
}
li.QA-last-item::before {
	content: url("../img/arrow-right.svg");
	position: absolute;
	top: 30px;
	left: 3px;
}
li.QA-item.dropdown::before {
	content: url("../img/arrow-top.svg");
	position: absolute;
	top: 28px;
	left: 3px;
}
@media (max-width: 776px) {
	.QA {
		margin: 80px 0 0 0;
	}
}
/* --------НАШИ ПАРТНЕРЫ-------- */
.partners {
	background-color: var(--dark);
	min-height: 364px;
}
.partners-body {
	margin: 104px 0 0 0;
}
.partners-title {
	text-align: center;
	font-style: normal;
	font-size: 36px;
	line-height: calc(53 / 36 * 100%);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	color: var(--white);

	margin: 0;
	padding: 100px 0 0 0;
}
.partners-count {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px 0 0 0;
}
@media (max-width: 900px) {
	.partners {
		background-color: var(--dark);
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0 10px 0;
		margin-top: 50px;
	}
	.partners-body {
		margin: 0 0 0 0;
	}
	.partners-title {
		padding: 0;
		margin: 0;
	}
	.partners-count {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		margin: 0 0 0 0;
	}
	.partners-item {
		flex: 1 1 calc((100% / 3) - 2rem);
		text-align: center;
	}
}
/* --------ОТЗЫВЫ-------- */
.reviews-container {
	margin: 0 auto;
	padding: 150px 0 0 0;
}
.reviews-title {
	text-align: center;
	font-style: normal;
	font-size: 36px;
	line-height: calc(53 / 36 * 100%);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	color: var(--black);

	margin: 0;
	padding: 0;
}
.reviews-article-body {
	padding: 60px 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reviews-article-item { 
	max-width: 350px;
	min-height: 100%;
}
.blockquote {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(21 / 14 * 100%);
	color: var(--gray);

	padding: 80px 30px 38px 30px;
	margin: 0;
	position: relative;
}
.blockquote:before {
	content: url(../img/blockquote-img.svg);
	display: block;
    position: absolute;
    top: 33px;
	left: 30px;
}
.article-author {
	display: inline-block;
	font-style: normal;
	font-size: 21px;
	line-height: calc(31 / 21 * 100%);
	letter-spacing: -0.01em;	
	color: var(--black);
	margin-top: 28px;
}
.article-author-firm {
	font-style: normal;
	font-size: 21px;
	line-height: calc(31 / 21 * 100%);
	letter-spacing: -0.01em;	
	color:var(--accent);
}
@media (max-width: 1000px) {
	.reviews-container {
		margin: 0 auto;
		padding: 80px 0 0 0;
	}
	.reviews-article-body {
		padding: 30px 0 0 0;
		display: flex;
		flex-wrap: wrap;
	}
	.reviews-article-item {
		flex: 0 1 100%;
		max-width: 100%;
	}
	.blockquote {
		padding: 80px 30px 10px 30px;
	}
	.blockquote:before {
		top: 33px;
		left: 30px;
	}
	.article-author {
		margin: 0;
		padding: 0 0 0 30px;
	}
}

/* --------СОТРУДНИЧЕСТВО-------- */
.partnership {
    margin: 143px 0 0 0;
    background-color: var(--accent);
}
/* --------КОНТАКТЫ-------- */
.contacts-container {
	padding: 100px 0 150px 0;
}
.contacts-title {
	text-align: center;
	font-style: normal;
	font-size: 36px;
	line-height: calc(53 / 36 * 100%);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	color: var(--black);

	margin: 0;
	padding: 0;
}
.contacts-body {
	height: 100%;
	padding-top: 60px;
	margin: 0px -15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contacts-item {
	padding: 0 15px;
	min-width: 205px;
	flex: 0 1 25%;
}
.contacts-item-img {
	display: block;
	text-align: center;
	margin: 0 auto;
}
.contacts-item-title {
	display: block;
	font-style: normal;
	font-size: 24px;
	line-height: calc(36 / 24 * 100%);
	text-align: center;
	color: var(--gray);
    margin: 28px 0 0 0;
}
.contacts-item-sub-title {
	display: block;
	font-style: normal;
	font-size: 24px;
	line-height: calc(36 / 24 * 100%);
	text-align: center;
	color: var(--black);
	margin: 18px 0 0 0;
}
.contacts-item-sub-title._accent {
	color: var(--accent);
}
@media (max-width: 850px) {
	.contacts-container {
		padding: 80px 0 130px 0;
	}
	.contacts-body {
		padding-top: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.contacts-item {
		padding: 0 15px;
		margin: 30px 0 0 0;
		min-width: 285px;
		flex: 0 1 50%;
	}
}
@media (max-width: 600px) {
	.contacts-item {
		flex: 0 1 100%;
	}
}
/* --------ПОДВАЛ САЙТА-------- */
.footer {
	background-color: var(--dark);
}
.footer-body {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footer-copyright,
.footer-studio {
	font-family: OpenSans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(22 / 16 * 100%);
	color: var(--white);
}
@media (max-width: 576px) {
	.footer-body {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.footer-copyright,
	.footer-studio {
		display: block;
		padding: 0;
		margin: 0;
		flex: 0 1 100%;
		text-align: center;
	}
}

/* --------МЕДИА-ЗАПРОСЫ-------- */
@media (max-width: 992px) {

}
@media (max-width: 768px) {
	.hero-title {
        font-size: 48px;        
	}
}
@media (max-width: 576px) {
	.hero-title {
        font-size: 34px;        
	}
}
@media (max-width: 320px) {
	
}